@font-face {
    font-family: 'Cabin';
    src: url('./cabin-v18-latin-regular.woff2') format('woff2'),
    url('./cabin-v18-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
    
.hello {
    color: red;
    font-family: 'Cabin';
    background: url('./icon.png');
}